.app-title {
  color: blue;
}

html {
  height: 100%;
  width: 100%;
}

.heading-lv1 {
  font-size: 32px;
  font-style: italic;
}

.heading-lv2 {
  font-size: 24px;
}

.heading-lv3 {
  font-size: 20px;
}

.text {
  margin: 16px;
  font-size: 16px;
  line-height: 1.5;
}

.text-center {
  text-align: center;
}

.profile-image {
  margin: 16px 0 0;
  text-align: center;
}

.profile-image img {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  padding: 32px 0 64px;
  background-color: rgb(9, 0, 128);
}

.content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
  background-color: #fff;
}

a {
  color: blue;
}

a:hover {
  text-decoration: none;
}

.heading-margin {
  margin-top: 32px;
}
